body {
    color: darkgray;
}
body {
    color: darkgray;
    padding-bottom: 50px;
    background-color: #021018;
}

h4 {
    text-align: center;
}
#canvascontain2 {
    padding-left: 322px;
    padding-bottom: 20px;
    padding-top: 100px;
}
li {
    color: black;
}
img {
    width: 50px;
    
    
}
